:root {
  --main-btn-color: #1463c4;
  --main-bground-color: #ffffff;
}
body {
  background-color: #f1f1f1;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
}
h3,
h4 {
  font-size: 30px;
  font-weight: 500;
  margin: 7% 1% 2% 1%;
}

/* contenedor -> imagen y texto */
.first-screen {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

/* imagen de perfil */
.container-profile {
  height: 260px;
  width: 260px;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}
.image-profile {
  height: 100%;
}

/* nombre - rol y descripcion */
.description-container {
  margin: 0;
  margin-left: 4%;
  margin-right: 4%;
}
h2 {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0;
  margin-left: 4%;
}
h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  margin-left: 4%;
}
.wrapper {
  height: 8vh;
  display: flex;
  margin: 0 0 0 -41.5%;
  align-items: center;
  justify-content: center;
}
.typing-dem {
  width: 26.5rem;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family:'Hind Siliguri', sans-serif;
  font-size: 2rem;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
p {
  width: 755px;
  margin: 0;
  margin-left: 4%;
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 400;
}

/* iconos */
.link-container {
  display: flex;
  justify-content: center ;
  align-items: center;
  margin: 0 35px 0 145px;
}
.social-link {
  width: 68px;
  height: 68px;
  margin: 25px;
  margin-top: 50px;
}

/* proyectos */
.project-section {
  align-items: center;
  justify-content: space-around;
}
.project-article {
  margin: 1.5%;
  display: flex;
  justify-content: space-evenly;
}
.project-one {
  display: flex;
  border: 1px solid #969696;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e0ecf0;
}
.project-container {
  width: 240px;
  height: 21.8rem;
  margin: 0;
  border-radius: 5px;
}
.project-img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.data {
  width: 19rem;
}
.project-title {
  margin: 0;
  margin-top: 10%;
  height: 25px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.project-detail {
  width: 265px;
  text-indent: 2px;
  text-align: justify;
  margin: 5px;
  margin-top: 6%;
  padding: 2%;
  font-size: .9rem;
  font-weight: 400;
  color: #4b4b4b;
  justify-content: center;
}
.project-stack {
  height: 45px;
  display: flex;
  margin-top: 3%;
}
.stack {
  height: inherit;
  width: inherit;
  margin: 0 10px;
}
.btn-go {
  height: 2.2rem;
  width: 90%;
  color: #f1f1f1;
  background: var(--main-btn-color);
  border: none;
  margin: 5%;
  margin-top: 7%;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
}

/*----- GRID ------*/
.education-container {
  display: grid;
  grid-template-columns: [first] 820px [line2] 200px [line3] 200px [end];
  grid-template-rows: [row1-start] 200px [row2] 200px [end];
  grid-column-gap: 16px;
  grid-row-gap: 10px;
  justify-content: center;
}
.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  border-radius: 5px;
}
.formation {
  height: 200px;
  width: 820px;
  justify-self: stretch;
}
.formation2 {
  height: 200px;
  width: 820px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.certificate {
  height: 86%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

/* certificados */
.certificate-container {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 6px;
}
.certificate-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* formacion */
.p-university {
  font-size: 1.4rem;
  font-weight: 400;
}
.p-carrer {
  font-size: 1.3rem;
  font-weight: 600;
}
.p-date {
  font-size: 1.1rem;
  font-weight: 200;
}
.p-details {
  font-size: 1.1rem;
  font-weight: 300;  
}

/* seccion del footer */
footer {
  height: 50px;
  margin-top: 2%;
  color: #f1f1f1;
  padding: 5px;
  background: #011a38;
}
footer p {
  margin: auto;
  font-size: 1.6em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .first-screen {
    display: flex;
    flex-wrap: wrap;
  }
  .container-profile {
    height: 250px;
    width: 250px;
  }
  h1 {
    font-size: 1.9rem;
  }
  .typing-dem {
    width: 21rem;
    margin: 0 -29% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 2.4rem;
  }
  p {
    width: 90%;
  }
  .description-container, p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
  }
  .description-container, h2, h1 {
    text-align: center;
  }
  .link-container {
    margin: auto;
  }
  .social-link {
    height: 70px;
    width: 70px;
  }
  .project-one {
    margin: 2%;
    width: 42%;
    flex-wrap: wrap;
  }
  .project-container {
    width: 100%;
  }
  .project-title {
    margin-top: 2%;
  }
  .project-detail {
    width: 98%;
    margin: 0;
    margin-top: 3%;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
  }
  .project-stack {
    margin-top: 0;
  }
  .btn-go {
    margin-top: 3.5%;
  }
  .education-container {
    display: flex;
    flex-wrap: wrap;
  }
  .formation, .formation2 {
    width: 95%;
    margin: 1%;
  }
  .certificate-container {
    height: 80px;
    width: 80px;
  }
  footer {
    height: 25px;
  }
  .certificate-container {
    height: 140px;
    width: 145px;
  }
  .certificate {
    width: auto;
    margin: 2%;
    margin-top: 6%;
  }
  footer {
    height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .first-screen {
    display: block;
    width: 100%;
  }
  .container-profile {
    height: 200px;
    width: 200px;
    margin: auto;
  }
  h1 {
    font-size: 1.9rem;
  }
  .typing-dem {
    width: 21rem;
    margin: 0 -27% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    margin-top: 10%;
    font-size: 2.2rem;
  }
  .description-container, h2, h1, p{
    text-align: center;
  }
  .description-container, p {
    font-size: 1.1rem;
    width: 90%;
  }
  .link-container {
    height: 60px;
    margin: auto;
    margin-top: 4%;
  }
  .social-link {
    width: 60px;
    height: 60px;
    margin: 20px 16px;
  }
  h3, h4 {
    font-size: 1.6rem;
  }
  .project-one {
    border: 1px solid #969696;
    border-radius: 10px;
    object-fit: contain;
    overflow: hidden;
    margin: 1%;
    width: 90%;
    height: 22.5rem;
    flex-wrap: wrap;
  }
  .project-container {
    height: 160px;
    width: 100%;
  }
  .project-title {
    position: relative;
    top: -7.5%;
    margin: auto;
    font-size: 1.2rem;
    width: 11rem;
    height: 1.8rem;
    border-radius: 5px;
    color: #f1f1f1;
    background-color: #5e9ce7;
  }
  .project-detail {
    padding: 8px;
    font-size: .8rem;
    font-weight: 300;
    width: 90%;
    margin: auto;
    position: relative;
    top: -8%;
  }
  .project-stack {
    height: 25px;
    width: 2rem;
    position: relative;
    top: -345px;
    flex-wrap: wrap;
  }
  .stack {
    margin: 5px 0;
  }
  .btn-go {
    height: 30px;
    width: 90%;
    margin: 1% 5%;
    padding: 5px 15px 5px 15px ;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    bottom: 3rem;
  }
  .grid-item .formation, p {
    text-align: left;
  }
  .grid-item .formation2 {
    margin-top: 50px;
  }
  .formation, .formation2 {
    height: 250px;
  }
  .p-university {
    font-size: 1.5rem;
  }
  .p-carrer {
    font-size: 1.3rem;
  }
  .p-details {
    font-size: 1rem;
  }
  .formation {
    height: 265px;
  }
  .certificate-container {
    height: 130px;
    width: 135px;
    margin: 3%;
  }
  .education-container {
    display: flex;
    flex-wrap: wrap;
  }
  .certificate {
    width: auto;
    margin: 2%;
    margin-top: 6%;
  }
  footer {
    height: 40px;
  }
}
@media screen and (max-width: 380px) {
  .container-profile {
    height: 160px;
    width: 160px;
    margin: 8% auto;
  }
  h1 {
    font-size: 1.6rem;
  }
  .typing-dem {
    width: 17rem;
    margin: 0 -30% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 1.8rem;
  }
  .description-container, p {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
  }
  .description-container, h1, h2 {
    text-align: center;
    margin: auto;
  }
  .link-container {
    height: 60px;
  }
  .social-link {
    height: 45px;
    width: 45px;
    margin: 4%;
  }
  h3, h4 {
    font-size: 1.4rem;
  }
  .project-one {
    background-color: #f1f1f1;
    width: 90%;
    margin-top: 4%;
  }
  .project-container {
    width: 100%;
    height: 140px;
  }
  .project-title {
    font-size: 1.1rem;
  }
  .project-detail {
    margin: auto;
    width: 90%;
    font-size: .74rem;
  }
  .project-stack {
    position: relative;
    top: -337px;
  }
  .btn-go {
    margin: 2% 5%;
    width: 90%;
    height: 35px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .formation, .formation2 {
    height: 260px;
  }
  .p-university {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .p-carrer {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .p-date {
    font-size: 1rem;
  }
  .p-details {
    font-size: .9rem;
    font-weight: 300;
  }
  .certificate {
    width: auto;
    margin: 2%;
    margin-top: 6%;
  }
  .certificate-container {
    width: 130px;
    height: 130px;
  }
  footer {
    height: 30px;
  }
  .footer-legal {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 360px) {
  .project-one {
    height: 20.4rem;
  }
  .project-container {
    filter: blur(.5px);
  }
  .project-title {
    font-size: 1rem;
    width: 9rem;
    height: 25px;
  }
  .project-detail {
    font-size: .65rem;
  }
  .project-stack {
    top: -316px;
    background-color: #011a38;
  }
  .btn-go {
    position: relative;
    bottom: 3.7rem;
    height: 31px;
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 600;
  }
}