:root {
  --main-btn-color: #202020;
  --main-bground-color: #ffffff;
}
body {
  background-color: #f0f0f0; /* #f1f1f1*/
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  color: #2e2e2e; /* #d8d8d8 */
  background-color: #e9e9e9;
  box-sizing: border-box;
}
h3,
h4 {
  font-size: 30px;
  font-weight: 500;
  margin: 7% 1% 2% 2%;
}

/* contenedor -> imagen y texto */
.first-screen {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

/* imagen de perfil */
.container-profile {
  height: 260px;
  width: 260px;
  margin: 0 4rem;
  border: 6px solid #272727;
  border-radius: 50%;
  overflow: hidden;
}
.image-profile {
  height: 100%;
  width: 100%;
}

/* nombre - rol y descripcion */
.description-container {
  margin: 0;
  margin-left: 4%;
  margin-right: 4%;
}
h2 {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0;
  margin-left: 4%;
}
h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  margin-left: 4%;
}
.wrapper {
  height: 8vh;
  display: flex;
  margin: 0 0 0 -41.5%;
  align-items: center;
  justify-content: center;
}
.typing-dem {
  width: 26.5rem;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family:'Hind Siliguri', sans-serif;
  font-size: 2rem;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
p {
  width: 755px;
  margin: 0;
  margin-left: 4%;
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 400;
}

/* iconos */
.link-container {
  display: flex;
  justify-content: center ;
  align-items: center;
  margin: 0 2rem 0 17rem;
}
.social-link {
  width: 68px;
  height: 68px;
  margin: 25px;
  margin-top: 50px;
  filter: grayscale(100%);
  transition: filter 0.5s;
  transition: width .25s, box-shadow .25s;
}
.social-img {
  height: inherit;
  width: inherit;
}
.social-link:hover {
  box-shadow: 0 0 15px rgba(45, 241, 150, 0);
  width: 200px;
  filter: grayscale(0);
}

/* proyectos */
.project-section {
  align-items: center;
  justify-content: space-around;
}
.project-article {
  margin: 1.5%;
  margin-top: 2.8rem;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-evenly;
}
.project-one {
  display: flex;
  border-image-slice: 1;
  border-radius: 8px;
  overflow: hidden;
  background-color: #4b4b4b;
  box-shadow: 4px 2px 20px #bebebe;
}
.project-container {
  width: 245px;
  height: 25.6rem;
  margin: 0;
  border-radius: 5px;
}
.project-img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  filter: opacity(92%);
}
.data {
  width: 17.9rem;
  background-color: #dddddd;
}
.project-title {
  margin: 0;
  margin-top: 10%;
  height: 25px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
}
.project-detail {
  width: 265px;
  text-indent: 2px;
  text-align: justify;
  margin: 5px;
  margin-top: 6%;
  padding: 2%;
  font-size: 1rem;
  font-weight: 400;
  color: #222222;
  justify-content: center;
}
.project-stack {
  height: 45px;
  display: flex;
  margin-top: 3%;
  margin: auto auto;
  justify-content: center;
}
.stack {
  height: inherit;
  width: inherit;
  margin: 0 10px;
  filter: drop-shadow(3px 5px 6px #929292);
}
.btn-go {
  height: 2.2rem;
  width: 90%;
  color: #f1f1f1;
  outline: 0;
  background: var(--main-btn-color);
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  border: transparent;
  border-radius: 10px;
  margin: 5%;
  margin-top: 7%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  user-select: none;
}
.btn-go:hover {
  transform: translateY(-3px);
  box-shadow: 4px 2px 5px #99999999;
  border: 2px solid #777;
}
.btn-go:active {
  transform: translateY(3px);
  background-color: var(--main-bground-color);
  color: var(--main-btn-color);
}

.p-university {
  font-size: 1.5rem;
}
.p-carrer {
  font-size: 1.3rem;
}
.p-details {
  font-size: 1.1rem;
}
.formation {
  height: 200px;
}

/*----- GRID ------*/
.education {
  display: flex;
  flex-wrap: nowrap;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
}
.p-university {
  text-align: left;
  font-weight: 500;
}
.p-carrer {
  font-weight: 600;
}
.p-details {
  font-weight: 300;
}

.formation-container {
  width: 48rem;
}
.certificate-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto; 
  column-gap: 0;
  row-gap: 0;
}
.certificate-container {
  height: 150px;
  width: 200px;
}
.certificate-img {
  height: inherit;
  width: inherit;
}

/* seccion de formulario */
.container {
	background-color: #dddddd;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 45rem;
  max-width: 100%;
  margin: auto;
  margin-top: 4%;
}

.header-form {
	border-bottom: 1px solid #383838;
	background-color: var(--main-btn-color);
  padding: 20px 40px;
  height: 3rem;
  user-select: none;
}
.header-form_title {
  margin-top: .8%;
  color: #e7e6e6;
}

.form {
	padding: 2.6em 3.2rem;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
  user-select: none;
}
.form-control textarea {
  display: block;
  width: 102%;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 48px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form-button {
	background: var(--main-btn-color);
  border: 2px solid var(--main-btn-color);
	border-radius: 6px;
	color: #fff;
	display: block;
	font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
	padding: 10px;
	margin-top: 20px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
.form-button:active {
  background-color: var(--main-bground-color);
  color: var(--main-btn-color);
}

/* seccion del footer */
footer {
  margin-top: 2%;
  color: #f1f1f1;
  padding: 5px;
  background: var(--main-btn-color)
}
.social {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.icon-social {
  display: inline;
  margin: .5rem 1.3rem;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}
.icon-social.twitter {
  background-image: url('./icons/twitter.svg');
}
.icon-social.instagram {
  background-image: url('./icons/instagram.svg');
}
.footer-legal {
  margin: auto;
  font-size: 1.4em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .first-screen {
    display: flex;
    flex-wrap: wrap;
  }
  .container-profile {
    height: 250px;
    width: 250px;
  }
  h1 {
    font-size: 1.9rem;
  }
  .typing-dem {
    width: 21rem;
    margin: 0 -29% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 2.4rem;
  }
  p {
    width: 90%;
  }
  .description-container, p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
  }
  .description-container, h2, h1 {
    text-align: center;
  }
  .link-container {
    margin: auto;
  }
  .social-link {
    height: 70px;
    width: 70px;
  }
  .project-one {
    margin: 2%;
    width: 42%;
    flex-wrap: wrap;
  }
  .project-article {
    margin-top: 0;
  }
  .project-container {
    width: 100%;
  }
  .project-title {
    margin-top: 2%;
  }
  .project-detail {
    width: 98%;
    margin: 0;
    margin-top: 3%;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
  }
  .project-stack {
    margin-top: 0;
  }
  .btn-go {
    margin-top: 3.5%;
  }
  .education-container {
    display: flex;
    flex-wrap: wrap;
  }
  .formation, .formation2 {
    width: 95%;
    margin: 1%;
  }
  .certificate-container {
    height: 80px;
    width: 80px;
  }
  footer {
    height: 25px;
  }
  .certificate-container {
    height: 140px;
    width: 145px;
  }
  .certificate {
    width: auto;
    margin: 2%;
    margin-top: 6%;
  }
}
@media screen and (max-width: 480px) {
  .first-screen {
    display: block;
    width: 100%;
  }
  .container-profile {
    height: 200px;
    width: 200px;
    margin: auto;
  }
  h1 {
    font-size: 1.9rem;
  }
  .typing-dem {
    width: 21rem;
    margin: 0 -27% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    margin-top: 10%;
    font-size: 2.2rem;
  }
  h3, h4 {
    margin: 7% 1% 2% 7%;
  }
  .description-container, p {
    font-size: 1.1rem;
    width: 90%;
  }
  .link-container {
    height: 60px;
    margin: auto;
    margin-top: 4%;
  }
  .social-link {
    width: 60px;
    height: 60px;
    margin: 20px 12px;
  }
  h3, h4 {
    font-size: 1.6rem;
  }
  .project-article {
    display: flex;
    flex-wrap: wrap;
  }
  .project-one {
    border-radius: 10px;
    border: none;
    object-fit: contain;
    overflow: hidden;
    margin: 1%;
    margin-top: 2rem;
    width: 90%;
    z-index: 90;
  }
  .project-container {
    height: 180px;
    width: 100%;
  }
  .data {
    width: 100%;
  }
  .project-title {
    position: relative;
    top: -7%;
    margin: auto;
    font-size: 1.2rem;
    width: 12rem;
    height: 1.8rem;
    border-radius: 5px;
    color: #f1f1f1;
    background-color: #121212;
    box-shadow: 4px 2px 15px black;
  }
  .project-detail {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 300;
    width: 90%;
    margin: auto;
    margin-top: .5%;
    position: relative;
  }
  .project-stack {
    display: none;
  }
  .btn-go {
    height: 45px;
    width: 90%;
    margin: 8% 5% -2% 5%;
    padding: 5px 15px 5px 15px ;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    bottom: 1.4rem;
  }
  .btn-go:hover {
    box-shadow: 4px 2px 5px #707070;
  }
  .education {
    flex-wrap: wrap;
  }
  .certificate-container {
    column-gap: 12px;
    row-gap: 12px;
  }
  .formation, .formation2 {
    height: 250px;
    margin-top: 4%;
    padding: 3%;
  }
  .p-details {
    font-size: 1rem;
  }
  .formation {
    height: 290px;
  }
  .formation-container {
    margin-bottom: 6%;
  }
  .certificate-container {
    height: 130px;
    width: 180px;
    margin: 3%;
  }
  .education-container {
    display: flex;
    flex-wrap: wrap;
  }
  .certificate {
    width: auto;
    margin: 2%;
    margin-top: 6%;
  }
  .contact-form {
    margin-top: 27vh;
  }
  footer {
    height: auto;
    font-size: .8rem;
    background-color: #121212;
  }
}
@media screen and (max-width: 380px) {
  .social-link:hover {
    width: 90px;
  }
  .container-profile {
    height: 160px;
    width: 160px;
    margin: 8% auto;
  }
  h1 {
    font-size: 1.6rem;
  }
  .typing-dem {
    width: 17rem;
    margin: 0 -30% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 1.8rem;
  }
  .description-container, p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
  }
  .description-container, h1, h2 {
    text-align: center;
    margin: auto;
  }
  .link-container {
    height: 60px;
    margin: .3rem 0;
    margin-right: 5%;
    padding: 8px;
  }
  .social-link {
    height: 45px;
    width: 45px;
    margin: 3%;
  }
  h3, h4 {
    font-size: 1.4rem;
  }
  .project-one {
    background-color: #f1f1f1;
    width: 90%;
    margin-top: 2rem;
  }
  .project-container {
    width: 100%;
    height: 180px;
  }
  .project-detail {
    width: 90%;
    margin-top: -1.9%;
    font-size: 1rem;
  }
  .project-stack {
    position: relative;
    height: 42px;
    width: 42px;
  }
  .btn-go {
    width: 90%;
    height: 35px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .formation-container {
    margin-bottom: 25%;
  }
  .formation .formation2 {
    height: 270px;
  }
  .certificate {
    width: auto;
    margin: 2%;
  }
  .certificate-container {
    width: 155px;
    height: 120px;
  }
  .header-form {
    border-bottom: 1px solid #636363;
    padding: 20px 40px;
    height: 2.2rem;
  }
  .header-form h3 {
    font-size: 1.5rem;
    margin-top: .5%;
    color: #e7e6e6;
  }
  .footer-legal {
    font-size: .9rem;
  }
  .form button {
    height: 2.5rem;
    font-size: 1rem;
    padding: 2px;
  }
}
@media screen and (max-width: 360px) {
  .description-container, p {
    padding: 1%;
    margin: auto;
  }
  .social-link {
    width: 50px;
    height: 50px;
    margin: 0 10px 22px 10px ;
    margin-top: 20px;
    margin: 2%;
    transition: width .25s, box-shadow .25s;
  }
  .social-link:hover {
    box-shadow: 0 0 10px rgba(45, 241, 150, 0.089);
    width: 80px;
  }
  .project-container {
    filter: blur(.6px);
  }
  .project-detail {
    margin-top: -1.8%;
    font-size: 1rem;
  }
  .btn-go {
    font-weight: 600;
    font-size: 1.4rem;
    height: 42px;
  }
  footer {
    height: auto;
  }
  .footer-legal {
    font-size: .85rem;
  }
}