@media screen and (max-width: 480px) {
  .first-screen {
    display: block;
    width: 100%;
  }
  .container-profile {
    height: 200px;
    width: 200px;
    margin: auto;
  }
  h1 {
    font-size: 1.9rem;
  }
  .typing-dem {
    width: 21rem;
    margin: 0 -27% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    margin-top: 10%;
    font-size: 2.2rem;
  }
  h3, h4 {
    margin: 7% 1% 2% 7%;
  }
  .description-container, p {
    font-size: 1.1rem;
    width: 90%;
  }
  .link-container {
    height: 60px;
    margin: auto;
    margin-top: 4%;
  }
  .social-link {
    width: 60px;
    height: 60px;
    margin: 20px 12px;
  }
  h3, h4 {
    font-size: 1.6rem;
  }
  .project-article {
    display: flex;
    flex-wrap: wrap;
  }
  .project-one {
    border-radius: 10px;
    border: none;
    object-fit: contain;
    overflow: hidden;
    margin: 1%;
    margin-top: 2rem;
    width: 90%;
    z-index: 90;
  }
  .project-container {
    height: 180px;
    width: 100%;
  }
  .data {
    width: 100%;
  }
  .project-title {
    position: relative;
    margin: auto;
    top: 2%;
    font-size: 1.4rem;
    width: 12rem;
    height: 1.8rem;
    border-radius: 5px;
    color: #f1f1f1;
    filter: drop-shadow(4px 2px 3px black);
  }
  .project-detail {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 300;
    width: 90%;
    margin: auto;
    margin-top: .5%;
    position: relative;
  }
  .project-stack {
    display: none;
  }
  .btn-go {
    height: 45px;
    width: 90%;
    margin: 8% 5% -2% 5%;
    padding: 5px 15px 5px 15px ;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    bottom: 1.4rem;
  }
  .btn-go:hover {
    box-shadow: 4px 2px 5px #707070;
  }
  .education {
    flex-wrap: wrap;
  }
  .certificate-container {
    column-gap: 12px;
    row-gap: 12px;
  }
  .formation, .formation2 {
    height: 250px;
    margin-top: 4%;
    margin-bottom: 12%;
    padding: 3%;
  }
  .p-details {
    font-size: 1rem;
  }
  .formation {
    height: 290px;
  }
  .formation-container {
    margin-bottom: 6%;
  }
  .certificate-container {
    height: 130px;
    width: 180px;
    margin: 3%;
  }
  .education-container {
    display: flex;
    flex-wrap: wrap;
  }
  .certificate {
    width: auto;
    margin: 2%;
    margin-top: 6%;
  }
  .contact-form {
    margin-top: 27vh;
  }
  footer {
    height: auto;
    font-size: .8rem;
    background-color: #121212;
  }
}
@media screen and (max-width: 380px) {
  .container-profile {
    height: 160px;
    width: 160px;
    margin: 8% auto;
  }
  h1 {
    font-size: 1.6rem;
  }
  .typing-dem {
    width: 17rem;
    margin: 0 -30% 0 0;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 1.8rem;
  }
  .description-container, p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
  }
  .description-container, h1, h2 {
    text-align: center;
    margin: auto;
  }
  .link-container {
    height: 60px;
    margin: .3rem 0;
    padding: 8px;
  }
  .social-link {
    height: 45px;
    width: 45px;
    margin: 3%;
  }
  h3, h4 {
    font-size: 1.4rem;
  }
  .project-one {
    background-color: #f1f1f1;
    width: 90%;
    margin-top: 2rem;
  }
  .project-container {
    width: 100%;
    height: 180px;
  }
  .project-detail {
    width: 90%;
    margin-top: -1.9%;
    font-size: 1rem;
  }
  .project-stack {
    position: relative;
    height: 42px;
    width: 42px;
  }
  .btn-go {
    width: 90%;
    height: 35px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .formation-container {
    margin-bottom: 24%;
  }
  .formation .formation2 {
    height: 270px;
  }
  .certificate {
    width: auto;
    margin: 2%;
  }
  .certificate-container {
    width: 155px;
    height: 120px;
  }
  .header-form {
    border-bottom: 1px solid #636363;
    padding: 20px 40px;
    height: 2.2rem;
  }
  .header-form h3 {
    font-size: 1.5rem;
    margin-top: .5%;
    color: #e7e6e6;
  }
  .footer-legal {
    font-size: .9rem;
  }
  .form button {
    height: 2.5rem;
    font-size: 1rem;
    padding: 2px;
  }
}
@media screen and (max-width: 360px) {
  .description-container, p {
    padding: 1%;
    margin: auto;
  }
  .social-link {
    width: 50px;
    height: 50px;
    margin: 0 10px 22px 10px ;
    margin-top: 20px;
    margin: 2%;
  }
  .social-link:hover {
    box-shadow: 0 0 10px rgba(45, 241, 150, 0.089);
  }
  .project-container {
    filter: blur(.6px);
  }
  .project-detail {
    margin-top: -1.8%;
    font-size: 1rem;
  }
  .btn-go {
    font-weight: 600;
    font-size: 1.4rem;
    height: 42px;
  }
  footer {
    height: auto;
  }
  .footer-legal {
    font-size: .85rem;
  }
}